@using CoCKeeperHelper.Data
@model CoCKeeperHelper.Data.Character
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

<h1>Create</h1>

<form method="post">
    <input asp-for="Name" />
    
    <input type="submit" name="save" value="Save"/>
</form>

</body>
</html>
