@using CoCKeeperHelper.Data
@using Microsoft.EntityFrameworkCore
@model IEnumerable<CoCKeeperHelper.Data.Character>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        @foreach (var actor in Model)
        {
            <tr>
                <td>@actor.ID</td>
                <td>@actor.Name</td>
            </tr>
        }
    </table>

    <a asp-action="Create">Create</a>

</body>
</html>
